* {
  padding: 0;
  font-family: Andale Mono, monospace;
  margin: 0;
  box-sizing: border-box;
}

.menu-h {
  background: #8C4830;
  position: relative;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;

}

.menu-h ul {
  max-width: 800px;
  list-style-type: none;
  padding: 0;
  background-color: #403917(255, 255, 255, 0.021);

}

.menu-h ul li {
  display: inline;
}

.menu-h ul li a {
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  transition: background .5s;
  color: #F2F2F0;
}

.menu-h ul li a:hover {
  color: #BFA393;
  /* precisa alterar*/

}

#conteudo {
  background: url(thechosen.png) no-repeat, black;
  background-size: cover;
  width: 100%;
  height: 40em;
  text-align: center;
  justify-content: center;




}

#conteudo h1 {
  font-size: 80px;
  justify-content: center;
  text-align: center;
  margin-left: 12em;
  margin-block-start: 0em;
  color: #F2F2F0;
  text-shadow: 4px 3px 2px #BFA393;
}


#conteudo h2 {
  font-size: 5em;
  margin-block-end: 0.90em;
  justify-content: center;
  text-align: center;
  margin-block-end: 1em;
  margin-left: 12em;
  color: #F2F2F0;
  text-shadow: 4px 3px 2px #BFA393;
}

#conteudo h3 {
  font-size: 20px;
  margin-top: -3em;
  justify-content: center;
  text-align: center;
  margin-left: 48em;
  margin-block-end: 3em;
  color: #F2F2F0;
  text-shadow: 4px 3px 2px #BFA393;
}



#biografia {
  justify-content: center;
  text-align: center;
  font-size: 2vw;
  background-color: #8C4830;
  color: #F2F2F0;
  border-top: 3px solid #F2F2F0;
  border-bottom: 3px solid #F2F2F0;
  text-shadow: 4px 3px 2px #BFA393;
}

.info1 {
  display: flex;
  background-color: #BFA393;
  text-align: center;
  justify-content: center;
  flex-direction: row-reverse;

}

.info1 img {
  position: relative;
  border-radius: 20px;
  border: 5px solid #F2F2F0;
  width: 15vw;
  margin: 90px 30px 30px;
  opacity: 90%;
  box-sizing: border-box;
  left: -7.5em;


}

.info1 p {
  display: block;
  color: #F2F2F0;
  /*font-family:*/
  font-size: 1.2vw;
  width: 50%;
  align-items: center;
  text-align: justify;
  text-indent: 10px;
  justify-content: center;

}

.textoinfo {
  position: relative;
  right: 22em;
  top: 2em;
}

.textoinfo2 {
  position: relative;
  top: 12em;
  left: 11.8em;

}

#info2 {
  background-color: #8C4830;
  color: #F2F2F0;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 2vw;
  border-top: 3px solid #F2F2F0;
  border-bottom: 3px solid #F2F2F0;
  text-shadow: 4px 3px 2px #BFA393;
  
}

#cesto {
  background-color: #BFA393;
  display: flex;
  flex-direction: row-reverse;

}

#cesto img {
  position: relative;
  border-radius: 20px;
  border: 5px solid #F2F2F0;
  width: 17vw;
  margin: 90px 30px 30px;
  opacity: 90%;
  box-sizing: border-box;
  right: 6.6em;
}

#cesto p {
  color: #F2F2F0;
  /*font-family:*/
  font-size: 1.2vw;
  width: 50%;
  text-indent: 10px;

}
#cesto p a{
  text-decoration: none;
  color: #8C4830;
}

.textocentro {
  position: relative;
  top: 12em;
  left: 11.8em;



}

.textocima {
  position: relative;
  right: 21em;
  top: 2em;
}

#quebra {
  background-color: #8C4830;
  color: #F2F2F0;
  width: 25%;
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 2vw;
  border-radius: 10em;
  border-top: 3px solid #F2F2F0;
  border-bottom: 3px solid #F2F2F0;
  text-shadow: 4px 3px 2px #BFA393;
}

.ato {
  justify-content: center;
  text-align: center;
  font-size: 2vw;
  background-color: #8C4830;
  color: #F2F2F0;
  border-top: 3px solid #F2F2F0;
  border-bottom: 3px solid #F2F2F0;
  text-shadow: 4px 3px 2px #BFA393;

}

#sepulcro {
  background: url(cruzdecristo.jpg) no-repeat;
  height: 40em;
  background-size: cover;
  background-position: center, center;
  padding: 1em;
}

#sepulcro .historia {
  width: 50%;
  color: #F2F2F0;
  background-color: #8C4830;
  padding: 0.5em;
  position: relative;
  display: flex;
  text-align: center;
  margin: auto;
  border-radius: 1em;
  


}

footer {
  background-color: black;
  border-top: 1px solid #F2F2F0;
  
}

footer p {
  font-size: 1.2vw;
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
}

footer img {
  width: 45px;
  position: relative;
  left: 47%;
  padding-top: 1em;



}

#fim {
  border-top: 1px solid #F2F2F0;
  background-color: black;
  display: flex;
  text-align: center;
  justify-content: center;
  position: relative;

}

#fim .fim2 {
  padding: 0.3em;
}