* {
  padding: 0;
  font-family: Andale Mono, monospace;
  margin: 0;
  box-sizing: border-box;


}

.menu-h {
  background: rgb(46, 86, 0);
  position: relative;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;

}

.menu-h ul {
  max-width: 800px;
  list-style-type: none;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.021);

}

.menu-h ul li {
  display: inline;
}

.menu-h ul li a {
  padding: 25px;
  text-decoration: none;
  display: inline-block;
  transition: background .5s;
  color: #dcd4cf
}

.menu-h ul li a:hover {
  color: #b3998a;

}

#conteudo {
  background: url(thechosen.png) no-repeat, black;
  background-size: cover;
  width: 100%;
  height: 40em;
  text-align: center;
  justify-content: center;
  



}

h1 {
  font-size: 80px;
  justify-content: center;
  text-align: center;
  margin-left: 14em;
  margin-block-start: 0em;
  color: white;
  text-shadow: 4px 3px 2px blue;
}


#conteudo h2 {
  font-size: 5em;
  margin-block-end: 0.90em;
  justify-content: center;
  text-align: center;
  margin-block-end: 1em;
  margin-left: 14em;
  color: white;
  text-shadow: 4px 3px 2px blue;
}

#conteudo h3 {
  font-size: 20px;
  margin-top: -3em;
  justify-content: center;
  text-align: center;
  margin-left: 56em;
  margin-block-end: 3em;
  color: white;
  text-shadow: 4px 3px 2px blue;
}



#biografia {
  justify-content: center;
  text-align: center;
  font-size: 2vw;
  background-color: black;
  color: white;
  border-top: 3px solid green;
  border-bottom: 3px solid green;
  text-shadow: 4px 3px 2px blue;
}
.info1{
  background-color: aqua;

}
/*.texto{
  text-align: ;
}