*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    margin: 15px;
    text-decoration: none;
}
.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}
.nav-list{
    list-style: none;
    display: flex;
}
.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}
main{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.slider {
    flex: 1;
    background-color: red;
}