*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    margin: 15px;
    text-decoration: none;
    color: white;
}
.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;  
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.982);
    border-bottom: 1px solid black;
    font-family: sans-serif;
}
.nav-list{
    list-style: none;
    display: flex;
}
.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;  
}
#duvidasTitle{
    text-align: center;
    font-size: 4vh;
    margin: 0 auto;
    border-bottom: 3px solid black;;
    max-width: 800px;
}
#container{
    max-width: 1280px;
    margin: 0 auto;
}
#title{
    background-color: rgb(0, 0, 0);
    color: white;
    border-top: 1px solid white;
    text-align: center;
    font-size: 3vh;
    margin: 0 auto;
    margin-top: 1em;
    max-width: 1071px;
}
#imagem1, #imagem2, #imagem3, #imagem4, #imagem5, #imagem6{
    background-color: rgb(92, 91, 91);
    width: auto;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row-reverse;
    margin-left: 2em;
    margin-right: 2em;
    cursor: default;
}
#imagem1 img, #imagem2 img, #imagem3 img, #imagem4 img, #imagem5 img, #imagem6 img{
    position: relative;
    border-radius: 20px;
    border: 2px solid #F2F2F0;
    width: 30%;
    height: 17em;
    opacity: 90%;
    box-sizing: border-box;
    margin: 1em;
    
}
#imagem1 p, #imagem2 p, #imagem3 p, #imagem4 p, #imagem5 p, #imagem6 p{
    color: white;
    font-size: 3.8vh;
    margin: 1em;
    width: 70%;
    text-align: justify;
}

