*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    margin: 15px;
    text-decoration: none;
    color: white;
}
#logo{
    margin-left: 5em;
    color: #ffffff;
    font-size: 3.9vh;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.982);
    font-family: sans-serif;
}
.nav-list{
    list-style: none;
    display: flex;
}
.nav-list li{
    margin-left: 16px;
}
.nav-list a:hover{
    color: #a4a4a4;
}
#container{
    max-width: 1680px;
    margin: 0 auto;
}
#nomeTitulo{
    text-align: center;
    margin: 0em auto;
    font-size: 3vh;
    border-bottom: 2px solid black;
    max-width: 800px;
    margin: 1em auto;
}

#imagemEmprego{
    display: flex;
    align-items: center;
    margin: 0 auto;
}
#imagemEmprego img{
    background-size: cover;
    background-position: center, center;
    background-repeat: no-repeat;
    margin: 1em auto;
    border-radius: 24px;
    width: 80%;
    height: 60vh;
}
#textoEmprego{
    margin: 0px auto;
}
#textoEmprego p{
    width: 80%;
    text-align: justify; 
    position: relative;
    left: 10%;  
    font-size: 3.3vh;
}

#documentos h3{
    color: red;
    margin-top: 2em;
    margin-left: 5.7em;
    font-size: 3vh;
}
#organizacaoParceiras h3{
    color: red;
    margin-top: 2em;
}
#textoEmprego2{
    margin: 1em;
    width: 80%;
    text-align: justify; 
    position: relative;
    left: 7.9%;  
    font-size: 3.3vh;
}
#organizacaoParceiras{
    text-align: justify;
    width: 79%;  
    font-size: 3vh;
}
#migracoes{
    border-bottom: 2px solid black;
    max-width: 1000px;
    margin: 0 auto;
}
#associacao a{
    color: black;
    text-decoration: underline;
}
#associacao{
    position: relative;
    left: 13%;
    margin: 0 auto;
    align-items: center;
}
footer {
    background: #333;
    padding: 20px;
    color: #fff;
    text-align: center;
    font-size: 2vh;
    margin-top: 1em;
}